*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #16232E;
}

.container{
    width: 100%;
    height: 30vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 80px;
    font-weight: 600px;
}

span{
    color: #4BA1AB;
}

.logobecode{
    width: 250px;
}

.date-container{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background: black;
    padding: 30px;
}

.about{
    margin-top: 287px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
}